*{
    margin: 0;
padding: 0;
box-sizing: border-box;
font-family:Montserrat,"Helvetica Neue",sans-serif;
}


header img{
  
    margin-left: 20%;
    margin-top: 50px;
}
.container{
  margin-left: 12%;
  
}

    
  
  .dropdown{
    display: flex;
    justify-content: center;
    list-style-type: none;
  }
  header a{
    display: block;
    width: 130px;
    color: black;
  font-size: 1.2rem;
  text-decoration: none;
  align-items: center;
  }
   header a:hover{
    text-decoration: underline 3px solid red ;

  }
  .Home{
    list-style-type: none;
    display: none;
  }
  .dropdown li:nth-child(1):hover .Home{
    display: block;
  }
  .Home-1{
    list-style-type: none;
    display: none;
  }
  .dropdown li:nth-child(2):hover .Home-1{
    display: block;
  }
  .Home-2{
    list-style-type: none;
    display: none;
  }
  .dropdown li:nth-child(3):hover .Home-2{
    display: block;
  }
  .Home-3{
    list-style-type: none;
    display: none;
  }
  .dropdown li:nth-child(4):hover .Home-3{
    display: block;
  }
  .Home-4{
    list-style-type: none;
    display: none;
  }
  .dropdown li:nth-child(5):hover .Home-4{
    display: block;
  }
  .About{
    list-style-type: none;
    transform: translate(130px) translateY(-25px);
    position: absolute; 
    display: none;
  }
  .Home-4 li:nth-child(1):hover .About{
    display: block;
  }
.Home,.Home-1,.Home-2,.Home-3,.Home-4{
  font-size: 10px;
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: white;
  
}

.sec-9{
display: flex;
align-items: center;
}
.sec-9 ul{
  list-style-type: none;
}
.sec-9 img{
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.main-div p{
  font-family: 'Times New Roman', Times, serif;
font-size: larger;
}
.main-div li{
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
}
.sec-2 ul{
list-style-position: inside;
}
.sec-5 ul{
  list-style-position: inside;
}
  .main-div{
    
    width: 50%;
    margin-left: 25%;
    
  }
  .main-div a{
    color: brown;
  }
.p-1{
  text-align: center;
  color: red;
}
.p-2{
  text-align: center;
}
.back{
  text-align: center;
}
.back a{
  color: black;
  text-decoration: none;
}
.main-foot{
  position: absolute;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-foot img{
  width: 50px;
  height: 100px;
  margin-left: 5%;
}
.main-foot h5{
  color: white;
  margin-right: 38%;
  font-size: smaller;
}
.main-foot a{
  color: white;
}
.icon a{
  color: white;
}
i{
  margin-right: 2px;
  font-size: x-large;
}





 